<div>
    <canvas id="myChart"></canvas>
</div>

<div>
    <form action="/" method="POST">
        <label for="startDate" >Start Date</label>
        <input type="date" name="startdate" id="inputSD" placeholder="MM/DD/YYYY">
        <label name="ed">End Date</label>
        <input type="date" name="enddate" id="inputED" placeholder="MM/DD/YYYY">
        <button type="submit">Get data</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var labels = [<%= labels %>];
    let labs = []
    labels.forEach(item => {
        let timeStamp = parseInt(item);            
        let toMill = timeStamp;
        let dateObj = new Date(toMill)
        let y = dateObj.toLocaleDateString("en-US", {timeZone: 'UTC'})
        labs.push(y)
    })
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
                labels: labs,
                datasets: [{
                    backgroundColor: 'rgb(65,105,225)',
                    label: 'Bitcoin exchange rate',
                    data: [<%= values %>]
                }]
            
        },
        options: {
            scales: {
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        display: false
                    }
                }
            }
        }
        });
</script>